<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" th:href="@{/dashboard}">
            💰 ExpenseTrackerPro
        </a>

        <div class="d-flex align-items-center">

            <span class="text-white me-3">

                Welcome,

                <strong th:text="${#authentication.name}"></strong>

            </span>

            <form th:action="@{/logout}" method="post">

                <button class="btn btn-light btn-sm">

                    Logout

                </button>

            </form>

        </div>

    </div>

</nav>

</body>
</html>